/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Start */

body {
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
}

#calculator-container {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  height: 30rem;
  width: 60rem;
  background-color: rgb(31, 29, 29);
  overflow: auto;
}

#output-display {
  flex: 1 1 auto;
  background-color: aqua;
  font-size: 2em;
  color: black;
  text-align: end;
  padding: 0.5em;
  padding-right: 1em;
  display: flex;
  flex-direction: column;
}
.calc-button {
  text-align: center;
  padding: 0.3em 1em;
  height: 3em;
  width: 4em;
  border-radius: 2.5em;
  border-style: none;
}
#buttons-container {
  padding: 2em;
  flex: 2 1 auto;
  background-color: brown;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  gap: 1em;
}

#buttons-container {
  background-color: rgb(204, 127, 255);
}

#main-operations {
  background-color: aquamarine;
}

#numbers-container {
  background-color: blue;
}

#more-operations {
  background-color: bisque;
}
