/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Start */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  user-select: none;
}
main {
  display: flex;
  justify-content: center;
  align-content: center;
  color: beige;

  justify-content: center;
  align-items: center;
}

.header {
  padding: 5em 0 0 1em;
  color: #a4a4a4;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  text-transform: uppercase;
  font-size: 9em;
  color: rgb(215, 215, 215);
  z-index: -1;
}

.depth {
  color: black;
  position: relative;
}
.depth:before,
.depth:after {
  content: attr(title);
  color: rgba(255, 255, 255, 0.1);
  position: absolute;
}
.depth:before {
  top: 1px;
  left: 1px;
}
.depth:after {
  top: 2px;
  left: 2px;
}

#history-container {
  color: rgb(0, 0, 0);
  height: 30rem;
  width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: start;
  gap: 2rem;
  overflow: scroll;
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
  border-radius: 2em;
  transition: all 0.9s cubic-bezier(0, 0.55, 0.45, 1);
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#history-container::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

#history-list {
  padding: 2rem 1rem;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: all 1s ease-in-out;
}

#history-list > p {
  color: #030303;
  background-color: #a5a5a5;
  padding: 0.5em 1em;
  border-radius: 1.5em;
  font-weight: lighter;
}

#calculator-container {
  display: flex;
  flex-direction: column;
  height: 30rem;
  width: 50rem;
  background-color: rgb(0, 0, 0);
  overflow: auto;
  border-radius: 2em;
}

#output-display {
  flex: 1 1 auto;
  padding-top: 1em;
  font-size: 2em;
  color: white;
  text-align: end;
  padding-right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#upper-display {
  flex: 1 0 auto;
  font-size: 0.5em;
  padding: 0 2em 0.5em;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

#main-display {
  flex: 4 0 auto;
  font-size: 2em;
}

#buttons-container {
  flex: 2 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  height: 20em;
  margin: 1em 2em;
  gap: 0 1em;
}

#main-operations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0.7em;
}

#main-operations button {
  background-color: #fea00a;
  color: white;
}

#global-operations {
  display: grid;
  grid-template-columns: []repeat(2, auto);
  justify-items: end;
  justify-content: end;
  gap: 0 1em;
}

#global-operations button {
  background-color: #a5a5a5;
}

#numbers-container {
  display: flex;
  flex-direction: column;
}

#number-container {
  padding-top: 0.7em;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0 1em;
}

#number-container button {
  background-color: #333333;
  color: white;
}

.start {
  grid-column-start: 2;
}

#more-operations {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 0 1em;
}

#more-operations button {
  background-color: #212121;
  color: white;
}
.calc-button {
  text-align: center;
  height: 4em;
  width: 6em;
  border-radius: 2.5em;
  border-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

button:hover {
  filter: brightness(1.2);
}
button:active {
  border: 1px solid white;
}
footer {
  background-color: #fea00a;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 4em;
  flex-shrink: 0;
}
footer a {
  text-decoration: none;
  color: black;
  font-size: 0.7em;
}

sup {
  font-size: 0.6em;
  vertical-align: super;
}
